@import url(//db.onlinewebfonts.com/c/b5477b6215858c9a3770dbbc7906820f?family=Agency+Gothic+CT+Medium);

.App {
  text-align: center;
}

.is-purple{
  background-color: #B19CD8;
}

.is-spark-font{
  font-family: "Agency Gothic CT Medium";
}

.is-100vh {
    min-height: 100vh;
}

